@import url('reset.css');
@import url('common.css');

#outerWrapper {
  position: relative;

  #leftPanel {
    position: absolute;
    top: 0;
    left: 0;
    #panoContainer {
      background: #555;
    }

    #panoLinkBtns {
      display: none;
      background-color: #aaa;
      > div {
        display: inline-block;
        width: 50%;
        > div {
          padding: 4px 2px 4px 4px;
          > button {
            width: 100%;
            height: 30px;
            line-height: 30px;
          }
        }
        &:last-child {
          > div {
            padding: 4px 4px 4px 2px;
          }
        }
      }
    }

    #inputContainer {
      padding: 16px;
      font-size: 0.8em;
      & > table {
        width: 100%;
        & > tbody > tr {
          & > td {
            padding-bottom: 4px;
            &:first-child {
              width: 110px;
              font-size: 0.95em;
              text-align: right;
              padding-right: 10px;
              color: #aaa;
            }
            &:last-child {
              > * {
                width: 100%;
              }
            }

            table {
              button {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  #mapContainer {
    position: relative;
    #floatOnMap {
      z-index: 200;
      position: absolute;
      left: 6px;
      top: 6px;
      > div {

        &#numberSearch {
          position: absolute;
          top: 0;
          right: -340px;
          width: 320px;
          input {
            width: 100%;
          }
          #afterPhonenumSearch {
            display: none;
            max-height: 200px;
            overflow-y: scroll;
            table {
              width: 100%;
              font-size: 0.8em;
              color: white;
              background-color: rgba(0, 0, 0, 0.67);
              tr {
                &:last-child {
                  > td {
                    border-bottom: 0;
                  }
                }
                > td {
                  line-height: 1.2em;
                  border-bottom: 1px solid #444;
                    svg {
                      color: pink;
                    }
                  padding: 8px 6px;
                  &:first-child {
                    color: lightgreen;
                    width: 112px;
                  }
                  &:last-child {
                    width: 48px;
                    cursor: pointer;
                    &:hover {
                      color: yellow;
                      svg   {
                        color: tomato;
                      }
                    }
                  }
                }
              }
            }
            input {
              margin: 8px 0 4px 0;
              width: 100%;
            }
            button {
              width: 100%;
            }
          }
        }

        padding: 8px 6px 0 8px;
        background-color: rgba(255, 255, 255, 0.85);
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-right: 6px;
        vertical-align: top;
        > div {
        margin-bottom: 8px;
        > * {
          margin-right: 2px;
          &:last-child {
            margin-right: 0;
          }
        }
        input {
          padding: 3px;
          &.short {
            width: 99px;
          }
          &.long {
            width: 133px;
          }
        }
        button {
          &.half {
            width: 50%;
            box-sizing: border-box;
          }
          &.full {
            width: 100%;
          }
        }
        .indicator {
          display: inline-block;
          font-size: 0.85em;
          text-align: center;
          margin-left: 12px;
          & > span:last-child {
            color: #3aa800;
            font-weight: bold;
            margin-left: 4px;
          }
        }
      }
    }
  }

    #searchResult {
      &.off {
        display: none
      }
      #searched {
        margin-top: 8px;
        max-height: 634px;
        background-color: rgba(0, 0, 0, 0.67);
        overflow-y: scroll;
        &>div {
          color: white;
          padding: 8px;
          font-size: 0.75em;
          line-height: 1.2em;
          border-bottom: 1px solid #111;
          cursor: pointer;
          &:hover {
            color: yellow;
            background-color: rgba(0, 0, 0, 0.5);
          }
          > div:first-child {
            color: lightgreen;
          }
        }
      }
    }

    #centerCircle {
      z-index: 200;
      border: 2px solid white;
      width: 24px;
      height: 24px;
      position: absolute;
      border-radius: 14px;
      &> div {
        border: 2px solid tomato;
        width: 100%;        
        height: 100%;
        box-sizing: border-box;
        border-radius: 12px;
        &> div {
          border: 2px solid white;
          width: 100%;        
          height: 100%;
          box-sizing: border-box;
          border-radius: 10px;
        }
      }
    }
  }

  #requestContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.67);
    overflow-y: scroll;
    &>div {
      color: white;
      padding: 8px;
      font-size: 0.75em;
      line-height: 1.2em;
      border-bottom: 1px solid #111;
      cursor: pointer;
      &:hover {
        color: yellow;
        background-color: rgba(0, 0, 0, 0.5);
      }
      > div:first-child {
        color: lightgreen;
      }
    }
  }

}